* {
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    padding: 50px 50px 26px 50px;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-small {
    height: 50px;
}

.box-wrapper {
    width: 45%;
}

.box-large {
    width: 45%;
}